<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connect to Constant Contact</title>
</head>
<body>
    <h1>Connect to Constant Contact</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Connect to Constant Contact">
    </form>
    {% if code %}
    <p>Access code: {{ code }}</p>
    <p>Access Token: {{ token }}</p>
    <a href="{% url 'jmml' %}"><h1>Ready to add a contact?</h1></a>
    {% else %}
    <p>You need to connect to Constant Contact</p>
    {% endif %}
</body>
</html>